footer {
  background-color: black;  
  color: white;              
  padding: 2rem;           
}

.footer-columns {
  display: flex;            
  align-items: flex-start;   
  width: 100%;
}

.footer-logo {
  margin-right: 3rem;       
}

.footer-logo img {
  width: 130px;             
  height: auto;
}

.footer-liens-group {
  display: flex;
  flex: 1;                  
  justify-content: center;  
  gap: 3rem;                
  text-align: left;
}

.footer-liens ul {
  list-style: disc;          
  padding-left: 1.2rem;
  margin: 0;
}

.footer-liens ul li {
  margin: 0.3rem 0;
}


.footer-liens a {
  color: white;
  text-decoration: none;     
  transition: 0.3s ease;
}

.footer-liens a:hover {
  text-decoration: underline;  
}
