body {
  font-family: "Century Gothic", "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.planning-page {
  max-width: 900px;
  margin: 40px auto 100px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

#calendar {
  margin-top: 2rem;
}
